<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>멋쟁이 사자처럼</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div>
    <h1> Django </h1>
    <h3>객체지향 프로그램</h3>
    <ul> <li>프로그래밍으로 문제해결을 더 쉽게하기 위해 </li> 
    <li> 큰 프로그램의 유지보수를 편하게 하기 위해</li>
    <li>막장을 미연에 방지하기 위해 사용하는 개발 방법론이다.</li>
    </ul>
    </div>

    <div>
      <h3><br>클래스</h3>
      <ul> <li>오브젝트를 생성하기 위한 틀(템플릿)</li> 
    <li> 상태(state)와 행동(behavior)를 가짐</li>
    <li>객체는 클래스의 <strong>인스턴스</strong>다.</li>
    </ul>
    </div>
    <script src="script.js"></script>
  </body>
</html>
